<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOJO - miesto, kde sa praktikuje cesta</title>
    <script src="./assets/scripts.js"></script>
    <link href="./assets/styles.css" rel="stylesheet">
    <link href="./assets/tailwind-min.css" rel="stylesheet">

    <!-- Standard favicon -->
    <link rel="icon" href="./images/favicon/favicon.ico" sizes="32x32">
    <link rel="icon" href="./images/favicon/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="icon" href="./images/favicon/favicon-32x32.png" type="image/png" sizes="32x32">

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="./images/favicon/apple-touch-icon.png">

    <!-- Android Chrome Icons -->
    <link rel="icon" href="./images/favicon/android-chrome-192x192.png" type="image/png" sizes="192x192">
    <link rel="icon" href="./images/favicon/android-chrome-512x512.png" type="image/png" sizes="512x512">

    <!-- Web App Manifest (if you have one) -->
    <link rel="manifest" href="./images/favicon/site.webmanifest">

    <!-- Theme color for mobile browsers -->
    <meta name="theme-color" content="#ffffff">

    <!-- Additional meta tags for better mobile support -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="/browserconfig.xml">
</head>